* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgba(43, 2, 85, 1) 0%, rgba(5, 26, 70, 1) 100%);
  color: #E6CEFF;
  font-family: 'Raleway', sans-serif;
}

h2,
h3 {
  font-family: 'Outfit', sans-serif;
}

.uk-card-title {
  font-size: 1.85rem !important;
  line-height: 1.2 !important;
  color: #EDDCFF !important;
}

.uk-card {
  padding: 5% 5% 2% 5%;
}

p {
  font-size: 1.3rem;
}

#hr {
  border: 1px solid #45056A;
}

.introduction {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}


#textbox {
  margin-left: 100px;
  background: rgba(19, 2, 29, 0.6);
  border-radius: 20px;
  width: 90%;

}

#smallerScreenNav {
  display: none;
}

canvas {
  border-radius: 10px;
}

#popupContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 24, 39, 1);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 600px;
}
.form-container {
  width: 500px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1rem;
}

.input-group {
  margin-top: 0.1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.input-group label {
  display: block;
  color: rgb(242, 239, 250);
  margin-bottom: 1px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

#closeButton {
  cursor: pointer;
  font-size: 19px;
  color: #A9C5FF;
  font-weight: 700;
  float: right;
  margin: -8px 20px 5px;
}


.eventCard {
  width: 255px;
  height: 295px;
  background: rgba(19, 2, 29, 0.6);
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.eventCard img {
  width: 170px;
  height: 170px;
  margin: 15px;
  border-radius: 12px;
  margin-bottom: 1px;
}

#nameOfTheEvent {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: #e6ceff;
}

.dateOfTheEvent {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  margin: 0;
}

.monthName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 10px;
  font-size: 1.8rem;
  align-self: center;
  color: #9eb8f4;
}

.lineOfEvents {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#btn {
  display: none;
}

@media (max-width: 400px) {
  #btn {
    display: inline;
    background: #2a0254;
    border: none;
    padding: 3%;
    border-radius: 10%;
    color: #e2cafc;
    font-size: 4.5vw;
  }
}

@media (max-width:450px) {
  #popupContainer {
    width: 85vw;
  }
}

@media(min-width:450px) and (max-width:750px) {
  #popupContainer {
    width: 70dvw;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  #btn {
    display: inline;
    background: #2a0254;
    border: none;
    padding: 1.2%;
    border-radius: 10%;
    color: #e2cafc;
    font-size: 2.9vw;
  }
}

@media (max-width: 600px) {
  #biggerSceenNav {
    display: none;
  }

  #smallerScreenNav {
    display: flex;
  }

  .monthName {
    writing-mode: unset;
    text-orientation: unset;
    text-align: center;
  }

  .lineOfEvents {
    display: block;
  }

  .eventCard {
    margin: 0 auto;
    margin-top: 30px;
  }

  .events {
    display: inline-block;
  }

  #center {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  #popupContainer {
    width: 65vw;
  }
}


@media (min-width: 700px) and (max-width:1150px) {
  #textbox {
    width: 50%;
  }
}

@media (max-width: 1150px) {
  .uk-column-1-2 {
    display: contents;
  }

  #textbox {
    margin-left: 0;
    margin-bottom: 5%;
  }
}